.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll; /* To enable component row scrolling only */
  padding: 20px;
}

.row {
  margin-left: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none; /* To hide the scroll bar which comes on rows */
}

.row_poster {
  object-fit: contain; /* To maintain aspect ratio */
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}

.row_poster:hover {
  transform: scale(1.08); /* For zoom on hover effect */
}

.row_posterLarge {
  max-height: 250px;
}

.row_posterLarge:hover {
  transform: scale(1.09);
}
